<div th:fragment="about" class="col-lg-8 mx-auto p-3 py-md-5">
    <h1>О проекте</h1>
    <p class="fs-5 col-md-15">Проект находится в стадии разработки, поэтому некоторые функции могут
        быть временно недоступны или работать некорректно.</p>
    <br><br>
    <p class="fs-5 col-md-15">
        Tubus - демонстрационный проект системы управления конструкторской документацией и электронного архива.
        Основная функция приложения - продвижение конструкторской документации по присвоенному ей жизненному циклу с помощью
        электронных цифровых подписей (ЭЦП) служб внутри предприятия, а также хранение и поиск документации в электронном архиве.
    </p>
    <p class="fs-5 col-md-15">
        В проекте используются термины и определения ЕСКД <a href="https://files.stroyinf.ru/Data/816/81658.pdf"> ГОСТ Р 2.005-2023</a>.
    </p>
    <p class="fs-5 col-md-15">
        Атрибуты электронных документов определены с учётом рекомендаций, изложенных в <a href="https://files.stroyinf.ru/Data/816/81659.pdf"> ГОСТ Р 2.058-2023</a>.
    </p>
    <p class="fs-5 col-md-15">Сотрудник с правами "Конструктор" может формировать электронную структуру изделия, создавая комплекс,
        изделие, сборочную единицу или деталь.</p>
    <p class="fs-5 col-md-15">В зависимости от типа документа ему присваивается свой жизненный цикл (ЖЦ).
        Стадия ЖЦ документа "Архив" означает, что документ полностью согласован и может использоваться в производстве.
        Чтобы дойти до последней стадии, документ должны подписать все сотрудники, кому был направлен этот документ по
        его жизненному циклу в соответствии с их должностными правами.</p>
    <p class="fs-5 col-md-15"> Документы, которые требуют от сотрудника продвижения на следующий этап жизненного цикла будут появляться
        во вкладке "Текущая работа". Документ, требующий подписи, может быть возвращен обратно его автору, например, на доработку.</p>
    <p>Автор: Молодцов Артём</p>
    <p>Санкт-Петербург 2024 г.</p>
    <p>+7(931)980-05-85</p>
    <p>admterentos@gmail.com</p>
    <a class="git" href="https://github.com/admtema">https://github.com/admtema</a>
    </p>
    <div class="mb-5">
        <a href="#" class="btn btn-primary btn-lg px-4">Попробовать</a>
    </div>
</div>
