<div th:fragment = "footer">
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/instruction" class="nav-link px-2 text-muted">Инструкция</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">О проекте</a></li>
            </ul>
            <p class="text-center text-muted">© 2024 Admtema</p>
        </footer>
    </div>
</div>